@import "var";

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: ($gap + $box-size) * 7;
 
  div {
    width: $box-size;
    height: $box-size;
    margin-left: $gap;
    margin-bottom: $gap;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $box-color;
    background-color: $box-background-color;
    border: 1px solid black;

    transition: transform 0.5s, background-color 0.5s;
    cursor: pointer;

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }
  }

  @for $i from 1 through 31 {
    & :nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }
}
